{
  "tabWidth": 2,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^~/components/(.*)$", "^~/lib/(.*)$", "^~/hooks/(.*)$", "^~/schemas/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
